body {
    font-family: "Work Sans", serif;
    /* color: #1d1d1f; */
    font-size: 15px;
    /* letter-spacing: 0.4px; */
}
.header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.logo {
    margin-right: 10px;
}
.ls-1 {
    letter-spacing: 1px;
}
.ls-2 {
    letter-spacing: 2px;
}
.social .fa {
    padding: 10px;
    font-size: 20px;
    width: 40px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
}


.social .fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-google {
    background: #dd4b39;
    color: white;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-youtube {
    background: #bb0000;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}

.text-nog {
    color: #cc6600;
}